main {
  background: aqua;
  display: flex;
}

aside{
  padding: 10px;
  margin: 10px;
  width: 44%;
}

#identyfikator {
    
    background-color: coral;
  }

nav{

    background-color: green;
    list-style-type: none;
    
}

nav li {
    display: inline-block;
    width: 33%;
}

.glowna {
    background-color: DodgerBlue;
    padding: 10px;
    margin: 10px;
    width: 66%;
  }


  aside{
    background-color: Red;
  }

  footer{
    text-align: center;
    background-color: yellow;
  }

  nav ul, nav li{
    margin: 0;
    padding: 0;

  }

  html, body{
      margin: 0;
  }

  h1{
      text-align: center;
      font-size: 15px;
      margin: 0;
      padding: 0;
  }


  a{

    color: black
  }

a:hover{
    color: red;
    

}

a: nav li{
    background-color: blue;
    width: 100%;
    display: none;

}



